<div fxLayout="row" >
    <div fxFlex="50"> <h1  class="mat-display-1 s-title">Ajouter Vaccin à {{pet.name}} </h1> </div>
    <div fxFlex="50" style="text-align:right;">
     
     </div>
   </div>

   <mat-card>
<div class="form-container">

    <mat-form-field >
        <mat-label>Description Du Vaccin</mat-label>
        <input matInput placeholder="Vaccin annuel" [(ngModel)]="vaccin.desc" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput  [min]="startDate" [matDatepicker]="picker" placeholder="Date du prochain vaccin"  (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="startDate" disabled="false"></mat-datepicker>
    </mat-form-field>


        <div fxLayout="row" style="margin-top:30px;">
          <div fxFlex="50"><button mat-raised-button [routerLink]="['/info-pet',pet._id]">Annuler</button></div>
          <div fxFlex="50" style="text-align:right"><button mat-raised-button color="primary" (click)="addVaccin()">Ajouter</button></div>
        </div>
</div>
</mat-card>